@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Pangolin&display=swap');

*{box-sizing: border-box;}
:root{
  /* Orange Compound color */
  --compound-orange-white: #ffffff;
  --compound-orange-green: #9ad255;
  --compound-orange-orange: #fd7949;
  --compound-orange-li-blue: #3878ef;
  --compound-orange-dr-blue: #0b1e40;
}
body,html{ height: 100%; }

/*---------------- Group styles -----------------------------------------------*/
body, html, #navbar,#navbar ul, #welcome-section, #projects,.project-container { width: 100%;}
.project-title img,.project-title h3, footer{ width: 100%;}
body, html, #navbar ul, #welcome-section, #welcome-section h1, #welcome-section h2,.project-title h3{ margin: 0px;}
#navbar a, #projects, .project-title, .project-title h3{ display: block;}
#navbar ul, #welcome-section, .project-container, footer{ display: flex;}

/*-----------------------------------------------------------------------------*/

@media screen and (max-width: 378px) {
  .project-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-title{
    width: 96%;
  }
  .project-title h3{ font-size: 18px;}
  #projects h2{ font-size: 26px;}
  #welcome-section h1{ font-size: 48px;}
  #welcome-section h2{ font-size: 28px;}

}
@media screen and ( min-width: 379px ) {
  .project-container{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .project-title{
    width: 48%;
  }
  .project-title h3{ font-size: 18px;}
  #projects h2{ font-size: 26px;}
  #welcome-section h1{ font-size: 48px;}
  #welcome-section h2{ font-size: 28px;}
}
@media screen and (min-width: 732px ) {
  .project-container{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .project-title{
    width: 31%;
  }
  .project-title h3{ font-size: 18px;}
  #projects h2{ font-size: 26px;}
  #welcome-section h1{ font-size: 7vw;}
  #welcome-section h2{ font-size: 4.5vw;}
}

#navbar{
  border: 0px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  padding: 0px;
  height: 53px;
  z-index: 2;
  background-color: var(--compound-orange-dr-blue);
  overflow: hidden;
}
#navbar ul{
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}
#navbar li{
  display:list-item;
  width: auto;
  text-align: center;
  list-style: none;
}
#navbar a{
  text-decoration: none;
  color: var(--compound-orange-white);
  padding: 15px 10px;
}
#navbar a:hover, .contact-links a:hover{
  transition: 0.91s;
  font-weight: bold;
  text-shadow: -4px 4px 2px rgba(154,210,85,0.67);
}
#navbar a:hover{transform: scale(1.3);}
.contact-links a:hover{ transform: scale(2);}
#welcome-section{
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--compound-orange-green);
}
#welcome-section h1{
  color:var(--compound-orange-dr-blue);
  font-family: 'Caveat', cursive;
  font-weight: bold;
}
#welcome-section h2{
  font-family: 'Pangolin', cursive;
  color: transparent;
  background: #4B2411;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#projects{
  position: relative;
  min-height: 100vh;
  background-color: var(--compound-orange-li-blue);

}
#projects h2{
  color: var(--compound-orange-white);
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 56px 10px 20px 10px;
  text-decoration: none;
  line-height: 1.5;
}
.project-container{
  position: relative;
  max-width: 1080px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-title{
  border: 0px solid blue;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  background-color: rgba(255,255,255, 0.2);
  margin-top: 20px;
}
.project-title:hover{
  transform: scale(1.1);
  transition: 2s;
  z-index: 6;
  justify-content: center;
}
.project-title img{
  height: auto;
  margin: auto;
}
.project-title h3{
  position: relative;
  top: -5px;
  text-align: center;
  background-color: var(--compound-orange-dr-blue);
  color: var(--compound-orange-white);
  line-height: 1.5;
  /*font-size: 1.5vmin;*/
  padding: 5px;

}
.project-title a{
  text-decoration: none;
}

footer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  background-color: var(--compound-orange-dr-blue);
  padding: 40px;
}
.contact{
  font-size: 28px;
  padding: 25px;
  font-weight: bold;
  color: white;
}
.contact-links a{
  font-size: 16px;
  font-style: italic;
  color: white;
  padding: 0.8vw;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;

}
.contact-links  i{
  font-size: 24px;
  font-weight: bold;
}
