@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Piedra&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/*
font-family: 'Piedra', cursive;
font-family: 'Sriracha', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Patua One', cursive;

*/
:root {
  --tribute-text-bg: rgba(250, 250, 250, 0.6);
  --blue-orange-white: rgba(255, 255, 255, 1); /* Blue Orange Color Scheme: White */
  --blue-orange-orange: rgba(253, 157, 105, 1); /* Blue Orange Color Scheme: Orange */
  --blue-orange-Du-blue: rgba(85, 165, 197, 1); /* Blue Orange Color Scheme: Dull Blue */
  --blue-orange-Br-blue: rgba(49, 180, 232, 1); /* Blue Orange Color Scheme: Bright Blue */
  --blue-orange-Da-blue: rgba(13, 55, 72, 1); /* Blue Orange Color Scheme: Dark Blue */
}

* { box-sizing: border-box; }

body,html {
  margin: 0px;
  height: 100%;
}
/*--------------------------- Multiple style -----------------------------------*/

body, html, .tribute-title, #img-div, #image,#tribute-info, .price-block span, #header,.survey-dropdown .survey-input, .text-t,.text-a{ width: 100%;}
.survey-dropdown, .survey-label,.survey-dropdown input, .survey-dropdown select{ width: 90%;}
#header-img, #com-title, li .nav-link, #image, #form, .land-dropbtn, .land-dropdown:hover .land-dropdown-content{ display: block;}
.land-dropdown-content a,.price-block, .price-block span, .copyright, .contact, .survey-dropdown{ display: block; }
#nav-list,.tribute-title, #img-div, .text-a{ overflow: hidden;}
#header-img,#com-title{ float: left; }
#tribute-info, .survey-submit, .tribute-title, #img-div, .landing-main, .land-dropdown, #form, .landing-form, #submit, .price-block span{ position: relative; }
.fish1,.flag, #img-caption, .land-dropdown-content{ position: absolute;}
#com-title, #nav-list, .montra, #form, .landing-form{ width: auto;}
#header-img, #video, .price-block span, #footer, .form-layout, #main, .tribute-title, .flag img, #img-div, #image{ height: auto;}
#header, #form{ margin-left: auto;  margin-right: auto; }
#header, #submit, .price-block span, #footer, .form-layout{ background-color: var(--blue-orange-Da-blue); }
#survey, li .nav-link:hover, .land-dropdown:hover .land-dropbtn, .price-block, .survey-submit{ background-color: var(--blue-orange-Br-blue); }
.montra, #services h2{ color: var(--blue-orange-Da-blue);}
#header, li .nav-link, li .nav-link:link, #submit, .price-block span, #footer, .form-layout, .survey-submit{ color: var(--blue-orange-white);}
.montra, .land-dropbtn,.price-block, .contact, .survey-head, .motto, .tribute-title p{ text-align: center; }
#tribute-link, li .nav-link, .land-dropdown-content a { text-decoration: none;}
#submit, .price-block span, .survey-submit, .tribute-title,#tribute-link{font-weight: bold;}
.survey-submit, .land-dropbtn, .survey-submit, #tribute-link { cursor: pointer;}

/*---------------------------- Documentation page -------------------------------*/
.doc-container{
  display: flex;
  flex-direction: row;
}
.doc-navbar{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 190px;
  background-color: var(--blue-orange-orange);
}
.highlight{
  background-color: var(--blue-orange-Da-blue);
  color: var(--blue-orange-white);
}
.display-on{display: block;}
.display-off{display: none;}
.doc-navbar li{
  width: 100%;
  font-weight: bold;
  list-style: none;
  padding: 20px;
  position: relative;

}
.doc-navbar li:hover{
  position: relative;
  background-color: var(--blue-orange-Da-blue);
  z-index: 6;
  box-shadow: 4px 3px 15px 0px rgba(27, 27, 26, 0.98);
  color: var(--blue-orange-white);
}


.doc-navbar a{ text-decoration: none; color: var(--blue-orange-Da-blue);}
.doc-navbar ul{ margin: 0px; padding: 0px; }
.doc-navbar h1{
  font-size: 20px;
  text-align: center;
}
#main-doc{
  position: relative;
  /*padding-left: 15px;
  padding-right: 15px;
  */
  padding: 15px;

}
.main-section{
  width: 100%;
  height: 99vh;
  /*overflow:auto;*/
}
.main-section code{
  position: relative;
  border: 2px solid red;
  margin-left: 25px;
  width: 75%;


}






/*---------------------------- Product Landing Css ------------------------------*/
@media screen and (max-width: 373px ) {
  .landing-main{
    width: 100vw;
    margin: 140px auto auto auto;
  }
  .land-dropdown { display: block;}
  #nav-bar{ display: none;}
  #video{ width: 95%;}
  .price-flex{
    flex-direction: column;
    align-content: center;
  }
  .copyright,.contact{
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 531px )and (min-width: 374px) {
  .landing-main{
    width: 100vw;
    margin: 90px auto auto auto;
  }
  .land-dropdown { display: block;}
  #nav-bar{ display: none;}
  #video{ width: 95%;}
  .price-flex{
    flex-direction: column;
    align-content: center;
  }
  .copyright,.contact{
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}
@media screen and (min-width: 532px ) {
  .landing-main{
    max-width: 900px;
    width: 80vw;
    margin: 86px auto auto auto;
  }
  .land-dropdown { display: none;}
  #nav-bar{ display: block;}
  #video{ width: 80%;}
  .price-flex{ flex-direction: row;}
}

#header{
  position: fixed;
  left: 0;
  top: 0;
  box-sizing:border-box;
  padding: 6px;
  z-index: 2;
  font-family: 'Piedra', cursive;
}
#header-img{
  width: 68px;
}
#com-title{
  padding-left: 8px;
  padding-top: 15px;
  margin: 0px;
}
li .nav-link{
  padding: 8px;
  border: 0 solid black;
  border-radius: 20px;
}


#nav-list{
  list-style-type: none;
  margin: 0;
  padding-top: 22px;
}
.montra{
  font-family: 'Sriracha', cursive;
}

.landing-form{
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#submit{
  left: -8px;
  height: 34px;
  border: 0px solid black;
  border-radius: 3px;
}
#video{
  border: 0px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: -4px 3px 15px 0px rgba(27, 27, 26, 0.98);
}
.land-dropdown, .land-dropbtn, #nav-list li{ float: right; }
.land-dropbtn {
  border: 0px solid black;
  border-radius: 25px;
  color: white;
  width: 63px;
  height: 34px;
  margin-top: 22px;
  padding-top: 8px;
}
.land-dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  right: 0px;
  top: 58px;
}
.land-dropdown-content a {
  color: black;
  padding: 12px 16px;
}
.land-dropdown-content a:hover {background-color: #f1f1f1}


.landing-video{
  display: flex;
  vertical-align: middle;
  justify-content: center;
  margin: 25px auto;
}
#services h2{
  font-family: 'Roboto Slab', serif;
}
 #services{
   font-family: 'Roboto', sans-serif;
   padding:15px;
   border: 0px solid black;
   border-radius: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   box-shadow: 4px 3px 15px 0px rgba(27, 27, 26, 0.98);
 }

 .price-flex{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .price-block{
   width: 208px;
   border: 0px;
   border-radius: 15px;
   padding-bottom: 10px;
   margin: 25px;
   line-height: 2.0;
   box-shadow: -4px 3px 15px 0px rgba(27, 27, 26, 0.98);
 }
 .price-block span{
   border: 0px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
 }
 #footer{
   padding: 15px;
   overflow: hidden;
 }
 .copyright{
   font-size: 11px;
   float: left;
 }

 .contact{
   float: right;
   font-size: 12px;
   line-height: 1.5;
 }

/* ----------------------- Survey Page Css -------------------------------------*/

 .form-layout{
   max-width: 600px;
   margin: 25px auto;
   padding: 20px;
   line-height: 2.2;
   border: 0;
   border-radius: 10px;
 }
 .survey-head{
   font-size: 24px;
 }
 .survey-head h1{
   text-shadow:  -5px 2px 2px #FFFBF9;
 }
 .survey-dropdown, .survey-label{
   margin: auto 5%;
 }

 .survey-submit{
  left: 38%;
  width: 120px;
  height: 30px;
  border: 2px solid white;
  border-radius: 4px;
 }
.survey-submit:hover{
  color: var(--blue-orange-Br-blue);
  background-color: var(--blue-orange-white);
}


 /*---------------------- Tribute Page css -------------------------------------*/

#tribute{
  background: fixed no-repeat url('https://i2.pickpik.com/photos/188/550/343/water-texture-ripples-aqua-preview.jpg');
  background-size: cover;
}
#main, #content, #image { margin: auto; }
#main {
  width: 95vw;
  overflow-x: hidden;
 }

.fish1 {
  z-index: 0;
  display: inline;
  top: 100px;
  left: 35px;
  animation-name: swimmingFish;
  animation-duration: 150s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fish1 img{
  width: 100px;
  height: auto;
}

@keyframes swimmingFish {
  0% {
    transform: rotate(90deg);
    top: 10%;
    left: 2%;
  }

  /* #1 --> */
  12.5% {
    transform: rotate(140deg);
    top: 10%;
    left: 97%;
  }

  /* #2 <-- */
  25% {
    transform: rotate(270deg);
    top: 35%;
    left: 2%;
  }

  /* #3 --> */
  37.5% {
    transform: rotate(90deg);
    top: 60%;
    left: 87%;
  }

  /* #4 <-- */
  50% {
    transform: rotate(270deg);
    top: 85%;
    left: 2%;
  }

  /* #5 --> */
  62.5% {
    transform: rotate(-90deg);
    top: 85%;
    left: 87%;
  }

  /* #6 <-- */
  75% {
    transform: rotate(90deg);
    top: 60%;
    left: 2%;
  }

  /* #7--> */
  87.5% {
    transform: rotate(45deg);
    top: 35%;
    left: 87%;
  }

  /* #8 <-- */
  100% {
    transform: rotate(-90deg);
    top: 10;
    left: 2%;
  }
}

.tribute-title {
  font-family: 'Piedra', cursive;
  font-size: 5vmin;
  margin-top: 10px;
  box-sizing: border-box;
  z-index: 3;
  line-height: 0.1;
  text-transform: capitalize;
  color: black;
  text-shadow: -6px 3px 2px white;
}

.flag {
  display: inline-block;
  z-index: 4;
  right: 25px;
  top: 20px;
}

.flag img { width: 4vmin; }

.motto {
  font-family: 'Piedra', cursive;
  font-size: 2.5vw;
  font-weight: normal;
  font-style: italic;
  margin: 0;
}


#content {
  width: 85%;
  max-width: 890px;
  z-index: 2;
}

#img-div {
  border: 0px;
  border-radius: 0.75vw;
  margin-top: 0.5vmax;
  -webkit-box-shadow: -4px 3px 15px 0px rgba(27, 27, 26, 0.98);
  box-shadow: -4px 3px 15px 0px rgba(27, 27, 26, 0.98);
}

#image {
  max-width: 100%;
}

#img-caption {
  font-size: 2vmin;
  z-index: 3;
  bottom: 0px;
  left: 0px;
  background-color: rgba(250, 250, 250, 0.7);
  border: 0px;
  border-radius: 0.75vw;
  padding: 0px 8px;
}

#tribute-link {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  color: black;
}

#tribute-link:hover {
  font-size: 2.5vmin;
  color: blue;
}

#tribute-info {
  border: 0px solid black;
  border-radius: 15px;
  padding: 30px;
  background-color: var(--tribute-text-bg);
  line-height: 1.5;
  margin: 4vw auto;
  -webkit-box-shadow: -4px 3px 15px 0px rgba(27, 27, 26, 0.98);
  box-shadow: -4px 3px 15px 0px rgba(27, 27, 26, 0.98);
}
#tribute-info p{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vmin;
}
